<div>
    <div class="container" style="margin: 0; padding: 0;">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-6">
                <input name="file" type="file" class="file" multiple data-show-preview="false" single-upload/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-md btn-primary" ng-controller="modal_ctrl"
                            ng-click="open_dialog('add','dk')">
                        新增
                    </button>
                    <button type="button" class="btn btn-md btn-success" ng-click="search.from_svr()">
                        删除
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group input-group-md">
                    <span class="input-group-addon">证件号</span>
                    <input type="text" class="form-control" ng-model="search.condition.card_id"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group input-group-md">
                    <span class="input-group-addon">账户名</span>
                    <input type="text" class="form-control" ng-model="search.condition.card_id"/>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-md btn-primary" ng-click="search.from_svr()">
                        搜索
                    </button>
                    <button type="button" class="btn btn-md btn-success" ng-click="search.from_svr()">
                        导出
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class=jumbotron>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th style="display: none" rowspan="2" style="width: 32px;"></th>
                <th rowspan="2">管理机构</th>
                <th rowspan="2">代理人工号</th>
                <th colspan="5">销售人员信息</th>
                <th colspan="5">销售人员银行账户信息</th>
                <th rowspan="2">金额</th>
                <th rowspan="2">备注</th>
            </tr>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>证件类别</th>
                <th>证件号</th>
                <th>手机号</th>
                <th>账户名</th>
                <th>账号</th>
                <th>开户行</th>
                <th>所在省</th>
                <th>所在市</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="display: none"><input type="checkbox" style="width: 15px;height: 15px;"/></td>
                <td>XX机构</td>
                <td>1234</td>
                <td>张三</td>
                <td>男</td>
                <td>身份证</td>
                <td>431121199504285238</td>
                <td>18684953154</td>
                <td>张三</td>
                <td>6222521646850154</td>
                <td>工商银行</td>
                <td>湖南省</td>
                <td>长沙市</td>
                <td>800</td>
                <td>备注</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>