<div class="modal-header">
    <h3 class="modal-title">{{modal.title}}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <legend>销售人员信息</legend>
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">姓名</span>
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">性别</span>
                    <select class="form-control">
                        <option value="男" selected>男</option>
                        <option value="女">女</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-addon">手机号</span>
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-addon">证件类别</span>
                    <select class="form-control">
                        <option selected>身份证</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="input-group">
                    <span class="input-group-addon">证件号</span>
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset style="margin-top: 10px">
        <legend>付款银行信息</legend>
        <div class="row">
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-addon">银行名称</span>
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="input-group">
                    <span class="input-group-addon">开户行</span>
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon">银行账号</span>
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset style="margin-top: 10px">
        <legend>保证金</legend>
        <div class="row">
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-addon">金额</span>
                    <input type="text" class="form-control"/>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">保存</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>